.root {
    -fx-font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -fx-background-color: #fffdee;
    -fx-padding: 0 44 0 44; /* top, right, bottom, left */
}

.header {
    -fx-padding: 28 0 28 0;
    -fx-alignment: CENTER;
}

.title {
    -fx-font-size: 36;
    -fx-font-weight: 600;
}

.nav-link {
    -fx-font-size: 24;
    -fx-text-fill: #282828;
    -fx-font-weight: 500;
    -fx-underline: false;
}

.difficulty {
    -fx-background-radius: 25;
    -fx-background-color: #e0c97d;
    -fx-text-fill: #282828;
    -fx-font-size: 20px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-alignment: center;
    -fx-transition: all 0.2s ease;
}

.difficulty:hover {
    -fx-background-color: #635325;
    -fx-text-fill: white;
}

.submit {
    -fx-padding: 8 44;
    -fx-pref-height: 50px;
    -fx-background-color: #282828;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}
